
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    color: #343f52;
    font-family: "Manrope", sans-serif;;
}
h1.sec-head {
    font-size: 39px;
    font-weight: 800;
    font-family: 'Roboto';
}
p{
    text-align: justify;
}
h5.heading {
    font-size: 65px !important;
    color: black;
        font-weight: 900;
}
h5 {
        font-weight: 900;
}
p.heading-line {
    font-size: 28px;
    color: gray;
}
.icon-img >img {
    width: 100px;
}
.back-img {
    background-image: url(./img/imgi_124_bg38.jpg);
    background-size: cover;
}
button.custom-btn.btn.btn-secondary {
    border-radius: 30px;
    padding: 10px 33px;
}
.solution-img {
    background-image: url(./img/imgi_125_bg39.jpg);
    background-size: cover;
}
.work-text {
    background-color: #f7f7f7;
}
.solution-text {
    background-color: #f7f7f7;
}
 .counter {
      font-size: 60px;
      
 }
 .ratings {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 3.8rem;
    font-size: 1.9rem;
    line-height: 1;
}
.ratings:before {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    color: #fcc032;
    content: "\2605\2605\2605\2605\2605";
    overflow: hidden;
}
.rounded > img {
    border-radius: 25px !important;
}
.we-are {
    background-color: #ffffff;
}
.card > img {
    padding: 20px;
}
h3.card-heading {
    padding: 0px 0px 15px 0px;
}
.footer {
    background-color: #f7f7f7;
}
.footer-list li {
    line-height: 32px;
    list-style: none;
    font-size: 15px;
}
ul {
    padding: 0px;
}
h4 {
    font-size: 20px;
    font-weight: 700;
}
button.submit-btn.btn.btn-dark{
    margin-top: 15px;
    border-radius: 30px;
    padding: 8px 35px;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767px) {
  h1.sec-head {
    font-size: 21px;
    padding-top: 10px;
}
}